/*
	"&" yellow: #F2F5B5
	"let us tell you our story" blue: #39869C
	"bird" brown: #9C5534
	"evergreen" green: #CCE438
*/

body {
	background: -webkit-linear-gradient(#76C5CC, #39A0AC);
	background: -moz-linear-gradient(#76C5CC, #39A0AC);
	background: -o-linear-gradient(#76C5CC, #39A0AC);
	background: -ms-linear-gradient(#76C5CC, #39A0AC);
	background: linear-gradient(#76C5CC, #39A0AC);
	background-color: #39A0AC;
	background-repeat: repeat-x;
	height: 100%;
}

#nav {
	position: absolute;
	right: 0;
	z-index: 1000;
}

#nav li {
	display: inline;
	list-style-type: none;
}

.navItem {
	font-family: 'Bad Script', cursive;
	text-decoration: none;
	color: #39869C;
	font-size: 1em;
	margin: auto 10px;
}

.navItem:link {
	color: #39869C;
}

.navItem:visited {
	color: #39869C;
}

.navItem:hover {
	color: #39869C;
	text-shadow: 0 0 2em white;
}

#mainColumn {
  position: relative;
  min-height: 100%;
  width: 1080px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -540px;
}

body, html
{
	position: relative;
	height: 100%;
}

* {
  margin: 0;
  padding: 0;
}