#backgroundContainer {
	background-color: white;
	min-height: 500px;
	width: 864px;
	position: absolute;
	left: 50%;
	margin-left: -40%;
	margin-top: 83px;
	box-shadow: 0 0 10px 1px #328290;
}

#contentContainer {
	margin: auto auto 20px 30px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #549EAA;
}

#ribbon {
	position: absolute;
	right: -4px;
	top: -4px;
}

.heading {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #70A833;
	position: relative;
	font-size: 3em;
}

.heading:before, .heading:after {
    content: "Directions";
    color: rgba(255,255,255,.2);
    position: absolute;
}

.heading:before { top: 1px; left: 1px }
.heading:after  { top: 2px; left: 2px }

#directionsHeader {
	margin: 15px auto 10px auto;
}

#address {
	margin-top: 10px;
}

.directions {
	margin-top: 15px;
}

.directionsList {
	list-style-type: none;
	margin-top: 5px;
	color: #549EAA;
}

#directionsFromMichigan {
	float: left;
}

#directionsFromWisconsin {
	float: right;
	margin-right: 10px;
}

#flowersBack {
	position: absolute;
	right: -63px;
	bottom: -39px;
}

#flowerFront {
	position: absolute;
	right: -95px;
	bottom: -60px;
}