{% extends "base.html" %}
{% block title %}INFOMASHUN{% endblock %}
{% block css %}
<link href="/static/stylesheets/information.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="backgroundContainer">
	<img id="ribbon" width="170" height="170" src="/static/images/ribbon.png">
	<div id="contentContainer">
		<div id="ceremonyContainer" class="section">
			<h1 id="ceremonyHeader" class="heading">Ceremony and Reception</h1>
			<div id="addressContainer">
				<p>The ceremony and reception will be held at:</p>
				<div id="address">
					<p>The Four Seasons Island Resort</p>
					<p>N16800 Shoreline Dr</p>
					<p>Pembine, WI </p>
					<p>(715) 324-5244</p>
				</div>
				<p>Click <a href="https://maps.google.com/maps?saddr=current+location&daddr=The+Four+Seasons+Island+Resort,+N16800+Shoreline+Drive,+Pembine,+WI+54156&hl=en&ll=44.331707,-88.615723&spn=4.046863,14.644775&sll=45.966425,-87.835693&sspn=3.932515,14.644775&geocode=FRw-kQIdctir-in_GSA6bVMGiDGYQUi6tfwMTg%3BFYRMtwIderXD-ikvsKJ1a_VSTTGmR9iZokPNhA&mra=ls&t=m&z=7" target="_blank">here</a> for a map.</p> 
			</div>
			<div id="schedule">
				<p>The ceremony will begin at 3:30 PM Central time on the front steps of the hotel</p>
				<p>Cocktails will be served in the reception tent at 4:30</p>
				<p>Dinner will be served at 5:30</p>
				<p>Dancing, lawn games, cocktails, and merrymaking to follow</p>
			</div>
		</div>
		<div id="registryContainer" class="section">
			<h1 id="registryHeader" class="heading">Registry</h1>
			<p>We are registered at:</p>
			<ul id="registryList">
				<li><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=1JMJGRDQ88YZ7&type=wedding" target="_blank">Amazon</a></li>
				<li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=200947" target="_blank">Macy's</a></li>
				<li><a href="http://www.target.com/wedd/registry/7Pflkltqm9hYdTbRsoSifw" target="_blank">Target</a></li>
			</ul>
			<p>(but we're more concerned with seeing you than getting china)</p>
	</div>	
	<img id="flowersBack" width="119" height="141" src="/static/images/flowersBack.png">
	<img id="flowerFront" width="137" height="126" src="/static/images/flowerFront.png">
	</div>
</div>
{% endblock %}