{% extends "base.html" %}
{% block css %}
<link href="/static/stylesheets/photos.css" rel="stylesheet" type="text/css" />
<link href="/static/stylesheets/colorbox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="backgroundContainer">
	<div id="toast">
		<span id="toastInner">
			<span>Check back in July for engagement photos!</span>
		</span>
	</div>
	<ul id="photoList">
		{% for href in ['/static/images/engagement/BDP_5653.jpg',
'/static/images/engagement/BDP_5661.jpg',
'/static/images/engagement/BDP_5665.jpg',
'/static/images/engagement/BDP_5669.jpg',
'/static/images/engagement/BDP_5681.jpg',
'/static/images/engagement/BDP_5684.jpg',
'/static/images/engagement/BDP_5691.jpg',
'/static/images/engagement/BDP_5696.jpg',
'/static/images/engagement/BDP_5698.jpg',
'/static/images/engagement/BDP_5721.jpg',
'/static/images/engagement/BDP_5740.jpg',
'/static/images/engagement/BDP_5745.jpg',
'/static/images/engagement/BDP_5746.jpg',
'/static/images/engagement/BDP_5760.jpg',
'/static/images/engagement/BDP_5783.jpg',
'/static/images/engagement/BDP_5784.jpg',
'/static/images/engagement/BDP_5787a.jpg',
'/static/images/engagement/BDP_5825.jpg',
'/static/images/engagement/BDP_5833.jpg',
'/static/images/engagement/BDP_5841.jpg',
'/static/images/engagement/BDP_5852.jpg',
'/static/images/engagement/BDP_5857.jpg',
'/static/images/engagement/BDP_5859.jpg',
'/static/images/engagement/BDP_5868.jpg',
'/static/images/engagement/BDP_5875.jpg',
'/static/images/engagement/BDP_5889.jpg',
'/static/images/engagement/BDP_5900.jpg',
'/static/images/engagement/BDP_5909.jpg',
'/static/images/engagement/BDP_5922.jpg',
'/static/images/engagement/BDP_5939.jpg',
'/static/images/engagement/BDP_5940.jpg',
'/static/images/engagement/BDP_5941.jpg',
'/static/images/engagement/BDP_5942.jpg',
'/static/images/engagement/BDP_5943.jpg',
'/static/images/engagement/BDP_5944.jpg',
'/static/images/engagement/BDP_5945.jpg',
'/static/images/engagement/BDP_5946.jpg',
'/static/images/engagement/BDP_5947.jpg',
'/static/images/engagement/BDP_5948.jpg',
'/static/images/engagement/BDP_5949.jpg',
'/static/images/engagement/BDP_5950.jpg',
'/static/images/engagement/BDP_5956.jpg',
'/static/images/engagement/BDP_5973.jpg',
'/static/images/engagement/BDP_5976.jpg',
'/static/images/engagement/BDP_5996.jpg',
'/static/images/engagement/BDP_6006.jpg',
'/static/images/engagement/BDP_6010.jpg',
'/static/images/engagement/BDP_6012.jpg',
'/static/images/engagement/BDP_6016.jpg',
'/static/images/engagement/k6002.jpg'] %}
		<li><a class="thumb" href="{{ href }}"><img src="{{ href }}" /></a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
{% block scripts %}
 <script src="/static/scripts/jquery.colorbox-min.js" type="text/javascript"></script>
 <script src="/static/scripts/photos.js" type="text/javascript"></script>
{% endblock %}